PORT=3001
HOST=0.0.0.0

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

DDB_TABLE_DEMANDAS=demandas
DDB_TABLE_DESENVOLVEDORES=desenvolvedores
DDB_TABLE_SISTEMAS=sistemas
DDB_TABLE_OBSERVACOES=observacoes
DDB_TABLE_COUNTERS=counters
DDB_AUTO_CREATE_TABLES=true
DDB_RUN_BOOTSTRAP_SEED=false
